**/__pycache__
**/.ipynb_checkpoints
*.ipynb
**/checkpoints
**/wandb
**/models
**/.wandb
.idea/*
*.out
**/results
*.pt
/notebooks
params_*.json
**/*.png
**/*.jpg
**/*.txt
CAM/thyroid_3_resize_val_imgs_acc/fold_4/benign/correct/*.png